.grid {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 50px;
}

body {
  background-color: #FCF7F0;
 }
  #showcase{
  background-image: url(../img/upclose-coffee.png);
  background-repeat: no-repeat;
  background-size: 150%, 210%;
  display: flex;
  flex-direction: column;
  height: 35vh;
  display: none;
 }

 h1 {
 font-family: "Cormorant Garamond";
 font-style: bold;
 font-size: 40px;
 letter-spacing: 1px;
 color: #6A5B5A;
 text-align: center;
 padding-top: 50px;
 }
  
 .header-charlies {
  padding-bottom: 5px;
  margin-left: 30px;
  padding-top: 130px;
 }

 .rule {
    margin-bottom: 12px;
 }
 
 .firecreek {
 color: #6A5B5A;
 font-family:"Proza Libre";
 font-size: 17px;
 font-weight: 400;
 letter-spacing: 1px;
 padding-bottom: 100px;
 text-align: center;
 }

 .nav-bar {
   background-image: url(/img/coffee-beans.jpg);
   background-size: 100%;
   background-repeat: no-repeat;
 }
  
 .logos {
  color: #fff;
  padding: 50px 0;
  font-size: 11px;
  font-style: bold;
  display: inline-block;
 }
  
 .fa-instagram-square {
  padding-right: 35px;
  font-size: 25px;
 }
  
 .fa-facebook-square {
  padding-right: 35px;
  font-size: 25px;
 }
  
 .fa-twitter-square {
  padding-right: 35px;
  font-size: 25px;
 }
  
 .fa-snapchat-square {
  padding-right: 35px;
  font-size: 25px;
 }
  
 .fa-phone-square {
  font-size: 25px;
  padding-right: 15px;
 }
  
 h3 {
 color: #6A5B5A;
 font-family:"Proza Libre";
 font-size: 11px;
 font-style: bold;
 letter-spacing: 1px;
 line-height: 23px;
 }
  
 .about-us {
  color: #6A5B5A;
  font-family:"Proza Libre";
  font-size: 11px;
  letter-spacing: 1px;
  line-height: 23px;
  padding-bottom: 50px;
 }
  
 p {
  color: #6A5B5A;
  font-family:"Proza Libre";
  font-size: 11px;
  font-weight: 100px;
  letter-spacing: 1px;
  line-height: 25px;
  padding-bottom: 1rem;
 }

 .paninis {
   padding-top: 100px;
 }
  
 .plants {
   padding-top: 50px;
  padding-bottom: 100px;
 }

 .menu-1 {
   width: 100%;
 }
  
 .panini {
  padding-bottom: 0px;
  min-width: 335px;
 }
 
 h4 {
  font-family: "Cormorant Garamond";
  font-style: bold;
  font-size: 25px;
  color: #6A5B5A;
  padding-bottom: 1rem;
  padding-top: 40px;
 }

 .drinks {
  padding-bottom: 100px;
 }

 .panini-menu {
   width: 100%;
 }
  
 td {
  color: #6A5B5A;
  font-family:"Proza Libre";
  font-size: 12px;
  font-weight: 100px;
  letter-spacing: 1px;
  line-height: 30px;
 }
  
 h5 {
  color: #6A5B5A;
  font-family:"Proza Libre";
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 23px;
  max-width: 285px;
 }
  
 .location {
 font-family: "Cormorant Garamond";
 font-style: bold;
 font-size: 25px;
 color: #6A5B5A;
 text-align: center;
 padding-bottom: .3rem;
 padding-top: 100px;
 }
  
 .address {
  text-align: center;
 }
  
 .map {
  padding-bottom: 100px;
 }

 .info {
   padding: 0 30px;
 }
  
 .general-location {
  padding-bottom: 25px;
 }
  
 .directions {
  padding-bottom: 90px;
 }

.nav-bar {
  text-align: center;
}
 
 
@media screen and (min-width:850px) {

  header {
    padding-bottom: 50px;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
    margin: 0 auto;
  }

  .grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    padding: 0 50px;
    max-width: 1300px;
    margin:0 auto ;
  }

  h1 {
    font-family: "Cormorant Garamond";
    font-style: bold;
    font-size: 60px;
    letter-spacing: 1px;
    color: #6A5B5A;
    text-align: center;
    }
  
  .rule {
    margin-bottom: 12px;
    margin-left: 50px;
    margin-right: 50px;
    max-width: 1200px;
    align-items: center;
  }

  .firecreek {
    color: #6A5B5A;
    font-family:"Proza Libre";
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1px;
    padding-bottom: 50px;
    text-align: center;
  }

  h3 {
    color: #6A5B5A;
    font-family:"Proza Libre";
    font-size: 12px;
    font-style: bold;
    letter-spacing: 1px;
    line-height: 23px;
    }

    h4 {
      font-family: "Cormorant Garamond";
      font-style: bold;
      font-size: 25px;
      color: #6A5B5A;
      padding-bottom: 1rem;
      padding-top: 0px;
     }
  
     
    .about-us {
     color: #6A5B5A;
     font-family:"Proza Libre";
     font-size: 12px;
     letter-spacing: 1px;
     line-height: 23px;
     padding-bottom: 50px;
    }

    .plants {
      padding-top: 0px;
     padding-bottom: 100px;
    }

  .paninis {
    padding-top: 0px;
  }

 .location {
 font-family: "Cormorant Garamond";
 font-style: bold;
 font-size: 25px;
 color: #6A5B5A;
 text-align: center;
 padding-bottom: .3rem;
 padding-top: 100px;
 }

 .address {
  text-align: center;
  padding-bottom: 100px;
 }

  .map {
    padding-bottom: 100px;
  }

.fa-instagram-square {
  padding-right: 70px;
  font-size: 35px;
 }
  
 .fa-facebook-square {
  padding-right: 70px;
  font-size: 35px;
 }
  
 .fa-twitter-square {
  padding-right: 70px;
  font-size: 35px;
 }
  
 .fa-snapchat-square {
  padding-right: 70px;
  font-size: 35px;
 }
  
 .fa-phone-square {
  font-size: 35px;
  padding-right: 15px;
 }

 .logos {
  color: #fff;
  padding: 50px 0;
  font-size: 22px;
  font-style: bold;
  text-align: center;
 }
}